hr {
  background-color: white;
}
.App {
  text-align: center;
  color: white;
  font-family: 'Courier New', monospace;
  font-weight: bold;
}
.card {
  width: 18rem;
  background-color: #242424;
  border: 3px solid black;
  margin: 2rem;
  transition: transform .2s;
}
.card-title {
  font-weight: bold;
}
.card:hover {
  border: 3px solid rgb(0, 247, 255);
  transform: scale(1.05);
}
.nav {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  background-color: #0f0f1c;
  margin-bottom: 1%;
}
.header {
  padding: 1rem;
  border-bottom: 1px solid white;
}
.pic {
  height: 12rem;
}
.d-block {
  margin: auto;
  max-width:100%;
  height:auto;
}
.carousel {
  margin: auto;
  width: 40rem;
  padding: 5rem;
}
.description {
  width: 50%;
  margin: auto;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid white;
}
.btn-primary {
  margin-top: 1rem;
  width: 10rem;
  font-weight: bold;
}
.resume {
  margin-top: 2rem;
}
.resume-block {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  text-align: left;
}
.bold {
  font-weight: bold;
}
.navbar {
  background-color: #0f0f1c;
}
#name {
  font-size: 20px;
}

